asgiref
attrs
autobahn
Automat
beautifulsoup4
certifi
cffi
channels
charset-normalizer
constantly
cryptography
daphne
Django
django-bootstrap-v5
django-colorfield
django-cpf-cnpj
django-rest-framework
djangorestframework
et-xmlfile
fontawesomefree
hyperlink
idna
importlib-metadata
incremental
openpyxl
pdfkit
Pillow
pyasn1
pyasn1-modules
pycparser
PyMySQL
pyOpenSSL
python-dateutil
pytz
PyYAML
requests
service-identity
six
soupsieve
sqlparse
Twisted
txaio
typing_extensions
urllib3
zipp
zope.interface
