:root{
  --main-color: #084775;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Inter', sans-sarif;
}
html, body{
  height: 100vh;
  max-width: 100vw;
  min-width: 320px;
}
body{
  background-color: #dbe9ff30;    
  /*overflow: hidden;*/
  /* background-color: rgba(255, 255, 255, 0); */
  /* background-color: #000000; */
  
  /* background-image: url(/static/images/particle.jpg); */
  /* background-size: cover; */
}
/* Header */
header{
  background-color: white;
}
#nav-superior{
  height: 90px; 
  padding: 0px 30px;
  background-color: var(--main-color); 
  display: flex;
  flex-direction: row;
}
.logo-nf{
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  color: white;
  font-size: min(35px, 5vw);
}
.logo-nf .logo-1
,.logo-nf .logo-2{
  height: min(70px, 9vw);
}
.logo-nf span{
  pointer-events: none;
  font-weight: 200;
}
li a{
  color: white;
  text-decoration: none;
  transition: all 0.25s ease;
}
li a:hover{
  color: rgb(228, 224, 224);
}
.nav-a{
  width: auto;
  display: flex;
}
.nav-a li{
  list-style: none;
}
.nav-a li a{
  display: inline-block;
  /* text-align: center; */
  font-size: max(1vw,.9em);
  font-weight: 400;
  margin: 0 .5em;
}
/*Offcanvas*/
.menu{
  list-style: none;
}
.menu-open,
.menu button{
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.menu-open:active{
  color: rgb(228, 224, 224);
}
.screen-reader-text{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
.menu-wrapper{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: var(--main-color);
  overflow-x: hidden;
  padding-top: 60px;
  transition: .5s;
}
.menu-wrapper a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: max(1vw,.9em);
  color: white;
  display: inline-block;
  transition: .3s;
}
.menu-wrapper a:hover{
  color: rgb(228, 224, 224);
}
.menu-wrapper .menu-close{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/*Fim do Offcanvas*/
/* Fim do Header */
#navegacao{
  margin-top: 36px;
}
.nv-social .d-social{
  background-color: #fff;  
  width: 30px;
  height: 30px;
}
.a-social{
  color: #343434;
}
.a-social:hover{
  color: #0D578E;
}
a{
  text-decoration: none;
}
.nv-login .btn-acesso{
  background: rgb(249,173,27);
  background: -moz-linear-gradient(0deg, rgba(249,173,27,1) 0%, rgba(223,146,0,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(249,173,27,1) 0%, rgba(223,146,0,1) 100%);
  background: linear-gradient(0deg, rgba(249,173,27,1) 0%, rgba(223,146,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9ad1b",endColorstr="#df9200",GradientType=1);
  border: none;
  border-radius: 4px !important;
  margin: auto;
  color: #343434;

  font-style: normal;
  font-weight: 400;
  font-size: 13px; 

  color: #000000;
}
/* template */
main{
  padding: 50px 0px 0px 0px;
}
main .carousel-inner{
  height: 396px;
}
main .carousel-inner .carousel-item img{
  border-radius: 30px;
  height: 396px;
}
#aviso{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(217, 217, 217, 0.35);
  border-radius: 30px;
  padding: 36px 46px;
}
#aviso h1{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
#aviso .corpo-do-aviso{
  margin-top: 25px;
}
#aviso .corpo-do-aviso p{
  text-align: justify;
  text-indent: 48px;
}
main #plataformas{
  margin-top: 20px;
  padding: 20px;
}
main #plataformas .grade .row{
  margin: auto;
  display: flex;
}
main #plataformas .grade .row .col{
  margin: 20px auto 28px auto;  
  padding: 30px 50px 67px 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  max-width: 552px;

  background: #FFFFFF;
  border: 1px solid rgba(13, 87, 142, 0.33);
  border-radius: 30px;
}

main #plataformas h1{
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  padding: 0px 25px;
  color: #000000;
}
main #plataformas .grade .row .col h2{
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
main #plataformas .grade .row .col img{
  box-sizing: border-box;
  width: 100%;
  height: 128px;
  border: 1px solid #A5A5A5;
  border-radius: 30px;
}
main #plataformas .grade .row .col p{
  margin-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: justify;
  text-indent: 48px;
  color: #000000;
}
main #plataformas .grade .row .col button{
  margin-top: 50px;
  box-sizing: border-box;
  color: white;
  background: #2E394F;
  border: 1px solid #A5A5A5;
  border-radius: 30px !important;
  width: 198px;
  height: 46px; 
}
.s-nav{
  height: 78px;
  width: 116px;
  border-radius: 15px;
  border-style: solid;
  border-color: #0d568e;
  border-width: 2px;
  /* border-color: #0d568e; */
  box-shadow: 10px 10px 15px -3px #0d568e38;
  background-color: #D9D9D9;
}
.s-nav-admin{
  height: 78px;
  width: 116px;
  border-style: solid;
  border-color: #8e0d0d;
  border-radius: 15px;
  border-style: solid;
  /* border-color: #0d568e; */
  border-width: 2px;
  /* border-color: #0d568e; */
  box-shadow: 10px 10px 15px -3px #0d568e38;
  background-color: #D9D9D9;
}
.btn-tremura p{
  display: none !important;
}
.s-avatar{  
  padding: 3px;
  border: 3px solid #0d568e;
}
.img-destaque{
  width: 786px;
  height: 10px;
  flex-grow: 2;
}
.img-destaque img{
    border-radius: 1.8rem;
}
.text-destaque{
  flex-grow: 1;
}
.time{
  color: #275CDF;
}
p, h5, ul{
  margin: 0;
}
.btn-details{
  color: #0D578E !important;
  border-color: #0D578E !important;
  transition: 0.25s ease-in-out;  
}
.btn-details:hover{
  background-color: #0D578E !important;
  color: #fff !important;
}
.c-img{
  height: auto;
  width: 279px;
}
.banner-img{
  height: 101px;
  width: 279px;
}
.banner_img_destaque{
  height: 10px;
  width: 800px;
}
.c-text{
  padding: 20px;
  /* box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);   */
}
.d-img{
  /* height: 229px; */
  width: 229px;
}
.det-img{
  width: 100%;
}
/* .item{
  margin: auto;
  width: 280px;
  padding-top: 15px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);  
  background-color: #ffffff;
} */
#esp{
  margin-top: auto;
  margin-bottom: 20px;
  padding-left: 9.5rem;
  padding-right: 9.5rem;
  font-size: 26px;
}
#esp-2{
  padding-left: 3.8rem;
  padding-right: 3.8rem;
}
#esp3{
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 26px;
}
.bg-f{
  background-color: #3C3C3C;
}
.text-f{
  text-align: justify;
  max-width: 500px;
}
.img-txt{
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 1.8rem;
}
#preloading{    
    padding: 12px 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.logo{    
    max-width:  500px;
}
.footer-sup{
  background-color: #0D578E; 
}
footer{
  background-color: white;
}
.btn{
  border-radius: 10px !important;
}
input{
  border-radius: 0 !important;
}

.nav-item{    
  margin-left: 50px;
}
.bg-black{
  background-color: black;
  color: white;
}

footer h5{
  text-transform: uppercase;
}
footer a{
  text-decoration: none;
  color: white;
}
.text-justify{
  text-align: justify;
}

.bg-main{
  background-color: #547DCD;
}

#dropdownMenuPerfil:focus{
  box-shadow:none !important;
}
#menu-perfil{
  border-radius: 0;
  width: 200px;
  padding: 8px 10px;
}

#menu-perfil:before{    
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: 13px;
  top: -8px;
  background: #ffffff;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-color: rgba(0,0,0,.15);
  -webkit-transform: rotate(45deg);    
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.modaladm{
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-medium:
  0.3px 0.2px 0.4px hsl(var(--shadow-color) / 0.36),
  1.1px 0.7px 1.5px -0.8px hsl(var(--shadow-color) / 0.36),
  2.7px 1.6px 3.5px -1.7px hsl(var(--shadow-color) / 0.36),
  6.7px 4px 8.8px -2.5px hsl(var(--shadow-color) / 0.36);
  background-color: #fff;
  width: 450px;
  color: rgb(0, 0, 0);
  border: 0.5px solid rgb(180, 180, 180);
  border-radius: 5px;
  box-shadow: var(--shadow-elevation-medium);
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#cont_ab590e303c18a256c074a3b0ed5b3c1b{
  border: none !important;
}
.new29 .wlink .slink{
  font-size: 1pt !important;
  display: none !important;
}
.new29 #wlink .slink{
  font-size: 1pt !important;
  display: none !important;
}
.nomP{
  display: none !important;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
/* Dropdown do .nav-a*/
.nav-a .dropDown{
	position: relative;
	display: inline-block;
}
.nav-a .dropDown button{
  background-color: var(--main-color);
  border: none;
  color: #ffffff;
  font-size: .9em;
}
.nav-a .dropDown.activate > button,
.nav-a .dropDown button:hover{
  color: rgb(228, 224, 224);
}
.nav-a .dropDownContent ul{
  display: flex;
  flex-direction: column;
  padding-left: 0px; /* Making Bootstrap get off my foot*/
}
.nav-a .dropDownContent li{
  display: inline-block;
}
.nav-a .dropDownContent h2{
  text-align: center;
  font-size: 20px;
  color: black;
}
.nav-a .dropDownContent{
	min-width: 160px;
	position: absolute;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
  left: 0;
  top: calc(100% + .5rem);
  padding: .75rem;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.nav-a .dropDown.activate > button + .dropDownContent{
  opacity: 1;
  transform: translateX(0px);
  pointer-events: auto;
}
.nav-a .dropDownItem{
  color: black;
}

/*.nav-a .dropdown .dropdown-menu{
  border-radius: 0;
  width: auto !important;
  margin-top: 8px !important;
  padding: 8px 10px !important;
  border-color: rgb(223, 221, 221) !important;
}
.nav-a .dropdown .dropdown-menu li a{
  margin: 0;
  border: 1px solid white;
   border-radius: 5px;
}
.nav-a .dropdown .dropdown-menu li .btn{
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid #66c7ff81;
  background-color: #0D578E !important;
  color: #ffffff !important;
  width: 100%;

}
.nav-a .dropdown .dropdown-menu li a:hover{  
  border: 1px solid #66c7ff81; 
  background-color: rgb(219, 238, 255);
  color: #000000 !important;
  
}
.nav-a .dropdown .dropdown-menu li .btn:hover{
  border: 1px solid #66c7ff81;
  background-color: #0D578E !important;
  color: #ffffff !important;
  width: 100%;
}
#dropdownMenuNav:focus{
  box-shadow:none !important;
}*/
#menu-nav:before{    
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: 118px;
  top: -8px;
  background: #ffffff;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-color: rgba(0,0,0,.15);
  -webkit-transform: rotate(45deg);    
}
.menuMobile{
  display: none;
}
#empregados_destaque{
  display: flex;
  justify-content: space-evenly;
}
.item h2{
  font-size: 20pt;
}

#bemestaranimal {
  background-color: rgb(255, 255, 255) !important;
  background-image: url(/static/images/icones/home_bemestaranimal.jpg);
  background-size: contain;
}

#casadotrabalhador {
  background-color: rgb(255, 255, 255) !important;
  background-image: url(/static/images/icones/home_casadotrabalhador.jpg);
  background-size: contain;
}
#iluminacaopublica {
  background-color: rgb(255, 255, 255) !important;
  background-image: url(/static/images/icones/home_iluminacao.jpg);
  background-size: contain;
}
 #cidadeinteligente {
  background-color: rgb(255, 255, 255) !important;
  background-image: url(/static/images/icones/home_cidade.jpg);
  background-size: contain;
}
#senhas {
  background-color: rgb(255, 255, 255) !important;
  background-image: url(/static/images/icones/home_senhas.jpg);
  background-size: contain;
}

#mapeamento {
  background-color: white !important;
  background-image: url(/static/images/icones/home_mapeamento.jpg);
  background-size: contain;
}

#cienciaEtecnologia{
  background-color: white !important;
  background-image: url(/static/images/icones/home_ciencia_e_tecnologia2.png);
  background-size: contain;
}

#eventos {
  background-color: white !important;
  background-image: url(/static/images/icones/home_eventos.jpg);
  background-size: contain;
}
#estagio {
  background-color: white !important;
  background-image: url(/static/images/icones/home_estagio.jpg);
  background-size: contain;
}
#sala{
  background-color: white !important;
  background-image: url(/static/images/icones/home_empreendedor.jpg);
  background-size: contain;
}
#financas {
  background-color: white !important;
  background-image: url(/static/images/icones/home_financas.jpg);
  background-size: contain;
}
#licitacao {
  background-color: white !important;
  background-image: url(/static/images/icones/home_licitacao.jpg);
  background-size: contain;
}
#admin {
  background-color: white !important;
  background-image: url(/static/images/icones/home_admin.jpg);
  background-size: contain;
}

.text-justify {
  text-indent: 40px;
}
